ceSerial/compile_commands.json
ceSerial/.cache
ceSerial/*.o
ceSerial/*.plist
wx/compile_commands.json
wx/.cache
wx/*.o
wx/*.plist
wx/wxserterm
wx/wxserterm.exe
qt/compile_commands.json
qt/.cache
qt/*.o
qt/*.plist
qt/Makefile
qt/qtserterm
qt/qtserterm.exe
qt/*.stash
